* {
    box-sizing: border-box;
}

:root {
    --bg-black: #242424;
    --bg-grey: #30302F;
    --main-color: #EB5D00;
    --text-white: #fff;
    --text-secondary: rgb(228, 228, 228);  
}

html {
    font-size: 1em;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-black);
    color: var(--text-white);
    letter-spacing: 0.02rem;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0 auto;
}

.button {
    display: inline-block;
    color: var(--text-white);
    background-color: var(--main-color);
    padding: 0.65rem 1.1rem;
    border-radius: 0.3rem;
    transition: transform .25s ease-in-out;
}

.button:hover {
    transform: scale(0.925);
}

.header {
    padding: 1rem 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title-link {
    color: var(--text-white);
    font-size: 2rem;
}

.header__title-char {
    color: var(--main-color);
}

.header__nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header__nav-item {
    margin-left: 3rem;
}

.header__nav-link {
    color: var(--text-white);
    font-size: 1.1rem;
}

.main-color {
    color: var(--main-color);
}

.header__nav-link:hover {
    color: var(--main-color);
}

.opening {
    min-height: 100vh;
    /* background-image: url('../images/opening-bg3.jpg');
    background-size: cover;
    background-position: center 0%; */
}

.opening__container {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.opening__img-wrapper {
    width: 60%;
    overflow: hidden;
}

.opening__img {
    width: 100%;
    display: block;
    transform: scale(1.25) translateX(85px);
}

.opening__info {
    width: 40%;
} 

.opening__name {
    font-size: 3rem;
    margin: 0;
}

.opening__greeting {
    font-size: 1.5rem;
}

.opening__subheading {
    font-size: 2rem;
    margin: 0;
}

.opening__description {
    margin: 0;
    padding-top: 1rem;
    color: var(--text-secondary);
}

.opening__btn {
    padding-top: 2rem;
}

.opening__eye-icon {
    fill: var(--text-white);
    display: inline-block;
    width: 16px;
    margin-left: 0.2rem;
    vertical-align: middle;
}

.about {
    background-color: var(--bg-grey);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about__container {
    display: flex;
}

.about__img-wrapper {
    flex: 1 1 50%;
    padding-right: 8rem;
}

.about__img {
    width: 100%;
    border-radius: 0.2rem;
}

.about__info {
    flex: 1 1 50%;
}

.about__heading {
    margin: 0;
    padding-top: 2rem;
    font-size: 2.5rem;
}

.about__description {
    padding-top: 2rem;
    margin: 0;
    color: var(--text-secondary);
}

.about__btn-container {
    padding-top: 3rem;
}

.about__download-icon {
    display: inline-block;
    fill: var(--text-white);
    width: 16px;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.skills {
    background-color: var(--bg-black);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.skills__heading {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

.skills__wrapper {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 4rem;
    background-image: linear-gradient(90deg, transparent calc(50% - 1px),
    rgba(235, 93, 0, 0.5) calc(50% - 1px),
    rgba(235, 93, 0, 0.5) calc(50% + 1px),
    transparent calc(50% + 1px));
}

.skills__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 50%;
    width: 100%;
}

.skills__subheading {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.skills__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills__item {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-grey);
    margin: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.2);
}

.skills__item-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.skills__icon {
    padding-bottom: 1rem;
}

.skills__icon-img {
    display: block;
    width: 60px;
    aspect-ratio: 1 / 1;
}

.skills__icon-name {
    text-align: center;
    font-size: 1.1rem;
}

.portfolio {
    background-color: var(--bg-grey);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.portfolio__subtitle {
    text-align: center;
    color:var(--text-secondary);
}

.portfolio__title {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    padding-bottom: 3rem;
}

.portfolio__projects {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio__project {
    max-width: 346px;
    width: 100%;
    background-color: var(--bg-black);
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.2);
    transition: transform .25s ease-in-out;
}

.portfolio__project:hover .portfolio__project-img {
    transform: scale(1.05);
}

.portfolio__project-img-cont {
    overflow: hidden;
}

.portfolio__project-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    transition: all .25s ease-in-out;
}

.img-tictactoe {
    object-position: center 0%;
}

.portfolio__project-title {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.portfolio__project-stack {
    text-align: center;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
}

.portfolio__project-lg {
    color: var(--text-secondary);
}

.portfolio__project-lg::after {
    content: '';
    display: inline-block;
    width: 0.1rem;
    height: 1.2rem;
    background-color: var(--text-secondary);
    margin-left: 0.5rem;
    margin-right: 0.2rem;
    position: relative;
    top: 0.25rem;
}

.portfolio__project-lg:last-child:after {
    display: none;
}

.portfolio__project-btn {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.button--portfolio {
    padding: 0.5rem 1rem;
}

.button--git {
    background-color: transparent;
    border: 0.08rem solid var(--main-color);
}

.contact {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--bg-black);
}